# Database
DB_URI=mongodb://localhost:27017/charisma-landing-db
DB_NAME=charisma-landing-db
DB_USER=
DB_PASS=

# Campaign Domain
CAMPAIGN_URL=https://talabaz.charisma.ir

# GLOBAL
SESSION_SECRET=Adrogame@2025
PORT=3031
NODE_ENV=development

# Version
VERSION=1.0.1

# Charisma OAuth2 Authentication
CHARISMA_AUTH_URL=https://apig-is.charisma.tech/oauth2/token
CHARISMA_CLIENT_ID=
CHARISMA_CLIENT_SECRET=
CHARISMA_SCOPE=chr_marketing

# Charisma API
CHARISMA_API_URL=https://apig-gw.charisma.tech/gam/v1.0

# Mediana API
MEDIANA_API_URL=https://api.mediana.ir/v1/otp/send
MEDIANA_API_KEY=
MEDIANA_OTP_PATTERN_CODE=
MEDIANA_REFRAL_PATTERN_CODE=
