# Database
DB_URI=mongodb://localhost:27017/charisma-landing-db
DB_NAME=charisma-landing-db
DB_USER=
DB_PASS=

# Campaign Domain
CAMPAIGN_URL=https://charisma.adrogame.com

# GLOBAL
SESSION_SECRET=Adrogame@2025
PORT=3031
NODE_ENV=development

# Version
VERSION=1.0.1
